<section data-ng-controller="ArticlesController">
    <h1>Create an article</h1>
    <form data-ng-submit="create()" class="form-horizontal">
        <div class="control-group">
            <label for="title" class="control-label">Title</label>
            <div class="controls">
                <input type="text" id="title" data-ng-model="title" placeholder="title" required />
            </div>
        </div>
        
        <div class="control-group">
            <label for="content" class="control-label">Content</label>
            <div class="controls">
                <textarea data-ng-model="content" id="content" cols="30" rows="10"></textarea>
            </div>
        </div>
        
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Submit" class="btn">
            </div>
        </div>
    </form>
</section>